@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gameboy";
    src: url("../src/assets/fonts/early-gameboy.ttf") format("tff"),
      url("../src/assets/fonts/early-gameboy.ttf") format("woff");
  }

  @font-face {
    font-family: "upheaval";
    src: url("../src/assets/fonts/Extra Font (upheaval tt).ttf") format("tff"),
      url("../src/assets/fonts/Extra Font (upheaval tt).ttf") format("woff");
  }

  @font-face {
    font-family: "title";
    src: url("../src/assets/fonts/Title Font (04B 30).ttf") format("tff"),
      url("../src/assets/fonts/Title Font (04B 30).ttf") format("woff");
  }
}

.font-early {
  font-family: "gameboy";
}

.font-upheaval {
  font-family: "upheaval";
}

.font-title {
  font-family: "title";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Prevent user from being able to drag the images */
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* WEB3 MODAL */
.web3modal-modal-lightbox {
  z-index: 1000000 !important;
  font-family: "gameboy";
}

.web3modal-provider-name {
  font-family: "title";
}

.g {
  height: 530px;
  transition: height 1s;
}

.g:hover {
  width: 800px;
}
